.list-hover{
    justify-content: space-around;
    padding: .5em;
    height: 11em;
    border-radius: 20px; 
    
;
}
.list-hover:hover{
    cursor: pointer;
}

.img-list{
    display: inline-block;
    
    
}

.img-list img{
    transition: all .2s ease-in-out;
}
.img-list img:hover {
    transform: scale(1.1);
}