.container{
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
.main-contents{
    padding: 10px 100px;
}

.main-contents h2{
    color: black;
    font-size:2em;
    text-align: left;
    margin-top: .2em;
}
.img-item{
    max-width: 15%;
    height: auto;

}

.img-fluid{
    margin: 0px auto; 
    max-height: 80px;
}
.btn-details{
    border-radius: 4px;
    height: 2.5em;
    border-width: 1em;
    border-color:#F28705;
    width: 25em;
    border-width: 2px;
    border-style: solid;
    margin-top:5% ;
    
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ;

}

.btn-details:hover{
    color: #fff;
    background-color:  #F28705;
    border-color: #fff;
}
.details-carrito{
    text-align: right;
    font-size: medium;
}


.row {
        display: flex;
        flex-wrap: wrap;
        align-items:flex-start;
        margin-right: 0;
        margin-left: 0;
        box-sizing: border-box;
        width: 100%;
        justify-content: center;
        
        
}
.center-row{
    display: flex;

    justify-content: center;


}


.p-3 {
    padding: 1rem!important;
}

.volverInicio{
    text-align: center;
}

.volverInicio:hover{
    cursor: pointer;
}

.main-carrito{
    
    color: black;
    background-color: white;
    padding: 1.5625rem 0.625rem;
    border: 1px solid #e8e8e8;
    border-radius: 0.3125rem;
    width: fit-content;
    float: left;

}



.main-contents{
    justify-content: right;
}