.container{
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }


.indItem{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0;
}

.img-item{
    max-width: 15%;
    height: auto;

}

.img-fluid{
    margin: 0px auto; 
    max-height: 80px;
}


.row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        margin-right: 0;
        margin-left: 0;
        box-sizing: border-box;
        width: 100%;
        padding: 1rem;
        
}
.justify-content-center {
    justify-content: center!important;
    
}

.p-3 {
    padding: 1rem!important;
}

.volverInicio{
    text-align: center;
}

.volverInicio:hover{
    cursor: pointer;
}

.main-carrito{
    background-color: white;
}