h1{
    font-family: cheap-pine-sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
    color: black;
}


.container .row {
    
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.row .entry-header{
    text-align: center!important;
    color: rgba(255, 255, 255, 0.85);
    box-sizing: inherit;
    margin: 0;
}

.text-center {
    text-align: center!important;
}

.page-title{
    padding-top: 50px;
    padding-bottom: 50px;
}

.col{
    
    text-align: center!important;
    color: rgba(255, 255, 255, 0.85);
    box-sizing: inherit;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.last{
    color:#F28705;
}