.item-card {
    box-shadow: .15em 2px #35353562;
    border-radius: .15em;
    width: 325px;
    background-color: white;
    
    
}
.item-card :hover {
    cursor: pointer;
}

.img-container {
      height: 50%;
      padding-top: 1em;
      
}


.item-card .img-fluid{
    display: block;
    margin: 0 auto 10px;
    max-height: 200px;
}
h4 {
    text-align: center;
}

.row-text{
    display: flex;
    justify-content: center;
    margin:3%;
    
    
}

.space-around{
    padding: 2%;
    
    
}

