.item-card {
    box-shadow: .15em 2px #35353562;
    border-radius: .15em;
    width: 325px;
    background-color: white;
    
}

.img-container {
      height: 50%;
      padding-top: 1em;
      
}
.img {
        width: 50%;
        height: auto;
        object-fit: cover;
}