.menu{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #ffff;
    color:#F28705;
<<<<<<< HEAD
    
    position: -webkit-sticky;
    position: sticky;

    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    
=======

    position: fixed;
    top: 0px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

>>>>>>> 435ad3067f66ee5db7207d1e2cdae732912f7ed1
    
}


[data-reach-menu-button] {
    font-family: cheap-pine-sans,sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1em;
    color: #40923d;
    box-shadow: 0;
    border: none;
<<<<<<< HEAD
    position: relative;
    background-color: #ffff;
=======
>>>>>>> 435ad3067f66ee5db7207d1e2cdae732912f7ed1

   
    
    
    
    
}
<<<<<<< HEAD

=======
>>>>>>> 435ad3067f66ee5db7207d1e2cdae732912f7ed1
button :hover {
    color:#F28705;
}
[data-reach-menu-item] {
    font-family: cheap-pine-sans,sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.4em;
    color: #40923d;
    box-shadow: 0;
    border: none;
    
    
    
  }
  [data-reach-menu-item]:hover{
    color: #F2B705;
    background-color:  #F2F2F2;
  }



.link-pages{
    display:flex;
    list-style: none;
    flex-direction: row;
    
   
}

a{ text-decoration: none;
    color: #40923d;}
a:hover{
    color:#F28705;
}

li{
    font-family: cheap-pine-sans,sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.3em;
   

}

.brand{
 width: 8rem;
 height: 8rem;
 background-repeat: no-repeat;
 background-position: center;
 background-size: contain;
}

