.menu{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #b18b5d;
    color: #F2F2F2;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    
}
.menu .brand h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.link-pages{
    display:flex;
    list-style: none;
    flex-direction: row;
   
}

.link-pages li{
    padding: 20px; 
    
}

.logo{
 width: 8rem;
 height: 8rem;
 background-repeat: no-repeat;
 background-position: center;
 background-size: contain;
}