.menu{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #F28705;
    color: #F2F2F2;
}

.link-pages{
    display:flex;
    list-style: none;
    flex-direction: row;
   
}

.link-pages li{
    padding: 20px; 
    
}
