.footer-menu{
    display: block;
    justify-content: center;
    align-items:center;
background-color: #ffff;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    
}
.footer-menu .brand h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.links-footer:hover{
color: #F28705;
cursor: pointer;
}

.link-pages li{
    padding: 20px; 
    
}

.logo{
 width: 10rem;
 height: 10rem;
 margin: 2em;
 background-repeat: no-repeat;
 background-position: left;
 background-size: contain;


}

.fotoMarcas {
    display: block;
    padding-top: -10%;
    width: 100%;
    height: auto;

}
.block-footer{
    padding: 1%;
}

.block-pad{
 
    box-sizing: border-box;
    padding: 35px 180px;
    padding-left: 36px;
    padding-right: 36px;
    max-width: 1670px;
    margin-left: auto;
    margin-right: auto;
}

.block-social{
   
    position: relative;
    height: auto;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 17px;
    padding-right: 17px;
    clear: both;
}

.block-inline{
    display: flex;
}