.footer-menu{
    display: block;
    justify-content: center;
    align-items:center;
background-color: #F2F2F2;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    
}
.footer-menu .brand h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.link-pages{
    display:flex;
    list-style: none;
    flex-direction: row;
    font-family: cheap-pine-sans,sans-serif;
    font-weight: 200;
    font-style: normal;
   
}

.link-pages li{
    padding: 20px; 
    
}

.logo{
 width: 8rem;
 height: 8rem;
 background-repeat: no-repeat;
 background-position: center;
 background-size: contain;


}

.fotoMarcas {
    display: block;
    padding-top: -10%;
    width: 100%;
    height: auto;

}
.block-footer{
    padding: 1%;
}

.block-pad{
 
    box-sizing: border-box;
    padding: 35px 180px;
    padding-left: 36px;
    padding-right: 36px;
    max-width: 1670px;
    margin-left: auto;
    margin-right: auto;
}

.block-social{
   
    position: relative;
    height: auto;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 17px;
    padding-right: 17px;
    clear: both;
}