.item{
    color:black;
    padding: 20px;
    border-width: 2px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 2rem;
    margin: 2rem 0;
}

.row{
    display: flex;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.text-center{
    align-content: center;
}